.containHead {
    width:98%;
    margin:12px auto 12px auto;
    Padding:15px 15px 15px 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
}
.containHead h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin:auto 0 auto 0;
}

.containMain {
    width:98%;
    margin:0px auto 12px auto;
    Padding:15px 15px 15px 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px; 
}

#mainHolder {
    width:92%;
    margin:45px auto 45px auto;
    Padding:15px 15px 15px 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px; 
}
.imgHolder {
    background-image: url(../imagesexample/foodcollage.jpg) no-repeat;
    background-size: 100%;
    opacity: .5;
    background-color: rgba(0, 0, 0, .3);
    border-style: solid;
    border-width: 3px;
    border-radius: 5px; 
    z-index: 20;
    
}


.forLocation {
    background-color: #e64a19 ;
    margin:12px auto 12px auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    text-align: center;
}
.forName {
    background-color: #fafafa;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px; 
}
.forCarosel {
    background-color: #fafafa; 
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
}
.btnforFood {
    background-color: #e64a19 ;
    color:black;
    margin:12px auto 12px auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    text-align: center; 
}
.forLocation p {
    font-size: 80px;
    font-weight: 200;
}