.containHead {
    width:98%;
    margin:12px auto 12px auto;
    Padding:15px 15px 15px 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
}  
.containHead h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin:auto 0 auto 0;
}

.containMain {
    width:98%;
    margin:0px auto 12px auto;
    Padding:15px 15px 15px 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px; 
}

#mainHolder {
    width:92%;
    margin:45px auto 45px auto;
    Padding:15px 15px 15px 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px; 
}
.imgholder {
 
   margin:25px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px; 
    z-index: 20;
    
}
/*start modal*/
.forstartModal {
    text-align: center;
    
}
.dialogStart{
    margin:50px 50px 50px 50px ;
}
.mymodalStart {
    width:500px;
    height: 385px;
    overflow: hidden;
}
.contentStart{
    margin-top:100px ;
}
 /*modal1*/

 .dialogModal1{
    margin:50px 50px 50px 50px ;
    position: relative;
    bottom:0;
 }
 .contentModal1{
    margin-top:100px ;
 
 }
.forLocation {
    background-color: #e64a19 ;
    margin:12px auto 0px auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    text-align: center;
}
.forName {
    margin:auto 25%;
    background-color: #fafafa;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    font-size:60px;
    font-weight: 200; 
}
.forCarosel {
    
    background-color: #fafafa; 
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
}
.btnforFood {
    background-color: #e64a19 ;
    color:black;
    margin-left: auto !important;
    margin-right:auto !important;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    text-align: center; 
}
.btnforStart{
    background-color: #e64a19 ;
    color:black;
    margin-left: auto !important;
    margin-right:auto !important;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    text-align: center;   
}
.forLocation p {
    font-size: 50px;
    font-weight: 200;
}
.modal-header {
text-align: center;
}
.backgroundImg{

    overflow: hidden;
    background-image:url(../imagesexample/foodcollage.jpg);
  
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffccbc;
}